//mid bar scss
.mid-bar {

  background-color: #0071bb;
  padding-top: 20px;
  padding-bottom: 20px;

  a{
    color: $white;
  }

  .terms-link {
    color:white;
  }

  h5{
    text-align: center;
  }

  p {
    color: $white;
    font-size: 8px;
  }

  &__btn2 {
    background-color: #e6822b;
    width: 100%;
    border-radius: 5px;
    align-items: right;
    font-size: 10px;


  }
  .text-box {
    background-color: transparent;
    width: 95%;
    text-align: center;
    font-size: 11px;
  }
}

//about-block scss
.about-block {
  font-size: 12px;
  text-align: center;
  padding-bottom:30px;


  h2{
    padding-top:30px;
    padding-bottom:20px;
    color:#47525d;
  }
}


//computer-block
.computer-block {
  font-size: 12px;
  text-align: center;
  padding-bottom: 30px;

  h6{
    padding-top:20px;
    color:#47525d;
  }

  p{
    padding-left:30px;
    padding-right:30px;
  }
}


//end-block scss
.end-block {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #0071bb;
  color: white;
  font-size: 12px;

  &__btn {
    background-color: #e6822b;
    width: 40%;
    border-radius: 5px;
    font-size: 12px;
  }

  h2 {
    padding-bottom: 10px;
    color: white;


  }
  p {

    padding-bottom: 10px;
  }
}


///////////////////////////////////////

//breakpoint
@include breakpoint(medium) {

  //mid bar scss
  .mid-bar {

    align-items: center;
    padding-top: 30px;
    padding-bottom:30px;

    h5{
      text-align: center;
    }

    p {
      font-size: 12px;
    }

    &__btn2 {
      font-size: 15px;
    }

    .text-box {

      font-size: 14px;
      width:90%;
    }
  }

  //about-block scss
  .about-block {
    font-size: 15px;
    padding-left: 100px;
    padding-right: 100px;

    h2{
      padding-top:35px;
      padding-bottom:20px;
    }
  }


  //computer-block
  .computer-block {
    font-size: 15px;
    text-align: center;
    padding-bottom: 120px;
img{
  padding-top:20px;
}
    h6{
      padding-top:40px;
    }

    p{
      padding-left:60px;
      padding-right:60px;
    }
  }


  //end-block scss
  .end-block {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 15px;

    &__btn {
      width: 25%;
      font-size: 15px;
    }

    h2 {
      padding-bottom: 20px;
      padding-left: 100px;
      padding-right: 100px;

    }

    p {
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 40px;
    }
  }
}

@include breakpoint(large){
.mid-bar{
 .text-box{
    font-size: 16px;
  }

  &__btn2{
    font-size:18px;
  }
}
  .about-block {
    font-size: 15px;
    padding-bottom:65px;
    padding-left: 225px;
    padding-right: 225px;

    h2{
      padding-top:70px;
      padding-bottom:20px;
    }
  }


  .end-block {
    padding-top: 75px;
    padding-bottom: 55px;
    font-size: 15px;

    &__btn {
      width: 25%;
      font-size: 18px;
    }

    h2 {
      padding-bottom: 40px;
      padding-left: 215px;
      padding-right: 215px;

    }

    p {
      padding-left: 215px;
      padding-right: 215px;
      padding-bottom: 40px;
    }
  }
}


