.footer {
  font-size: 10px;
  padding-top: 15px;

  a {
    color: #99a0a7;
  }

  &__logo {
    font-size: 20px;
    color: #4a525d;
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;

    li {
      padding-top:10px;
      padding-right: 20px;
    }
  }

  p {
    text-align: left;
  }
  &__link {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 10px;

  }

}

////////////////////////////////////////////////

@include breakpoint(medium) {
  .footer {
    font-size: 16px;
    padding-top: 35px;

    p {
      text-align: right;
      display: inline-block;
    }

    .p1{
      text-align: right;
      display: inline-block;
    }
    &__logo {
      font-size: 25px;

    }

    &__link {
      display: inline-flex;
      font-size: 16px;

      li {
        padding-right: 20px;
      }
    }

  }
}